body {
  background-color: black;
  color: white;
  margin: 0;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
}

h1 {
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ffffff;
  }
  to {
    text-shadow: 0 0 30px #1975a5, 0 0 10px #1975a5;
  }
}
